#Container {
  display: flex;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  padding: 20px;
  flex-direction: row;
}

#Container > div {
  width: calc(50% - 20px);
  padding: 10px;
  border: 1px solid;
}
